/*BARRA NAVEGACION*/
.navbar {
    padding: 1.5rem;
    background-color: rgb(112, 112, 179);
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

/*ESTILOS GENERALES*/
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2rem;
    font-family: 'Nunito', sans-serif;
}

.seccion-oscura {
    color: white;
    background-color: rgb(24, 22, 36);
}

.seccion-clara {
    color: black;
    background-color: rgb(241, 241, 241);
}

.seccion-titulo {
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Nunito', sans-serif;
}

.seccion-descripcion {
    font-size: 1.2rem;
    color: rgb(129, 129, 130);
}

.seccion-texto {
    font-size: 1.2rem;
}

.texto-negro {
    color: black;
}

.texto-blanco {
    color: white;
}

i {
    font-size: 50px;
    color: rgb(0, 0, 0);
}

/*HERO*/
.hero {
    background-color: rgb(205, 222, 237);
    min-height: 450px;
    text-align: center;
}

.hero-principal {
    padding: 3rem;

}

.hero-principal i {
    font-size: 8rem;
    margin: 20px;
}

.hero-principal h2 {
    font-size: 1.5rem;
    color: rgb(49, 49, 49);
}

/**SOBRE MI */
.sobre-mi {
    padding: 0.8rem;
    height: 28rem;
}

.sobre-mi .contenedor {
    max-width: 700px;
    text-align: center;
}

/*EXPERIENCIA */
.experiencia {
    padding: 40px;
}

.experiencia .columna {
    padding: 20px;
    border: 2px solid rgb(90, 90, 90);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.2s ease-in;
}

.experiencia .columna:hover {
    color: white;
    background-color: rgb(24, 22, 36);
}

.experiencia-titulo {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.experiencia i {
    font-size: 2.5rem;
    color: rgb(24, 199, 11);
    background-color: rgb(23, 23, 39);
    padding: 10px 15px;
    border-radius: 50%;
}

.badges-contenedor {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.badge {
    margin: 5px;
}

/*PROYECTOS*/
.proyectos-recientes {
    padding: 40px;
}

.proyectos-recientes img {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: block;
    transition: all 0.2 ease;
}

.proyectos-contenedor {
    padding-top: 60px;
    margin-bottom: 40px;
}

.proyecto {
    position: relative;
}

.overlay {
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.overlay p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}

.proyecto:hover img {
    opacity: 0.2;
}

.proyecto:hover .overlay {
    opacity: 1;
}

.overlay .iconos-contenedor {
    display: flex;
}

.overlay i {
    color: black;
    font-size: 60px;
    margin: 10px;
}

/* Testimonios */

.testimonios {
    padding: 40px 40px 80px 40px;
}

.testimonios .carousel {
    max-width: 800px;
}

.carousel-item {
    height: 500px;
}

.carousel-item .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testimonio-imagen {
    height: 150px;
    width: 150px;
    margin: 10px 10px 20px 10px;
}

.testimonio-texto {
    max-width: 70%;
    font-size: 20px;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
}

.testimonio-info {
    font-weight: bold;
    text-align: center;
}

.testimonio-info p {
    margin-bottom: 0;
}

.testimonio-footer .cliente {
    font-size: 1.2rem;
}

.testimonio-info .cargo {
    font-size: 0.9rem;
    color: #656060;
}

/* Contacto */

.contacto .container {
    max-width: 1100px;
    min-height: 200px;
    padding: 20px;
}

.contacto .rectangulo {
    margin-top: -5rem;
    background-color: rgb(13, 110, 253);
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px white;
}

.contacto .row {
    width: 100%;
    display: flex;
    align-items: center;
}

.contacto .descripcion {
    color: white;
    font-size: 1.2rem;
}

.contacto button {
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid white;
    padding: 1.25em 2em;
    margin: 10px;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
}

.contacto button:hover {
    background-color: white;
    color: black;
}

.contacto button i {
    color: white;
    font-size: 1.3rem;
    transition: all 0.2s ease-in-out;
}

.contacto button:hover i {
    color: black;
}

/* Pie de pagina (footer) */

footer {
    min-height: 500px;
}

.footer-logo {
    height: 80px;
    width: 80px;
    margin: 10px;
}

.footer-texto {
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
}

.iconos-redes-sociales a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
    background-color: white;
    border: 2px solid rgb(13, 110, 253);
}

.iconos-redes-sociales a:hover i {
    color: black;
}

.derechos-de-autor {
    font-size: 15px;
    color: #aeaeae;
    padding: 20px;
}



/*MEDIA QUERYS*/

/*NAV*/
@media screen and (max-width: 768px) {
    .navbar-brand {
        display: none;
    }
}

/*HERO*/
@media screen and (min-width: 570px) {
    .hero-inferior-imagen {
        max-width: 550px;
    }
}

@media screen and (max-width: 600px) {
    .hero-principal i {
        font-size: 5rem;
    }

    .hero-principal h1 {
        font-size: 1.5rem;
    }

    .hero-principal h2 {
        font-size: 1.15rem;
    }
}

/*LOGOS SECCION-PROYECTOS*/
@media screen and (max-width: 400px) {
    .overlay p {
        font-size: 18px;
    }

    .overlay i {
        font-size: 38px;
    }
}

/*TESTIMONIOS*/
@media screen and (max-width: 480px) {
    .testimonio-imagen {
        height: 80px;
        width: 80px;
        margin: 8px;
    }

    .testimonio-texto {
        max-width: 70%;
        font-size: 15px;
    }

    .testimonio-info {
        font-weight: bold;
        text-align: center;
    }
}